Repository thurstonsand/anypod: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, pyright, sync-agents-md

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

ruff-lint:
  name: ruff lint
  entry: uv run ruff check
  language: system

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

sync-agents-md:
  name: sync CLAUDE.md files to AGENTS.md
  entry: scripts/sync_agents_md.py
  language: script
  pass_filenames: false

integrate new feed retrieval in ytdlp wrapper
  README.md
  src/anypod/cli/debug_ytdlp.py
  src/anypod/data_coordinator/downloader.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/ytdlp_wrapper/base_handler.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/data_coordinator/test_downloader.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/integration/test_integration_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright

remove references to db_manager
  TASK_LIST.md
  src/anypod/cli/debug_downloader.py
  src/anypod/cli/debug_enqueuer.py
  src/anypod/data_coordinator/downloader.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/data_coordinator/pruner.py
  src/anypod/rss/rss_feed.py
  tests/anypod/data_coordinator/test_downloader.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/data_coordinator/test_pruner.py
  tests/anypod/db/test_download_db.py
  tests/anypod/test_rss_feed.py
  tests/integration/test_integration_downloader.py
  tests/integration/test_integration_enqueuer.py
  tests/integration/test_integration_pruner.py
Due: ruff-format, ruff-lint, pyright

refactor data classes into separate files
  TASK_LIST.md
  src/anypod/cli/debug_downloader.py
  src/anypod/cli/debug_ytdlp.py
  src/anypod/config/__init__.py
  src/anypod/config/config.py
  src/anypod/config/feed_config.py
  src/anypod/config/podcast_categories.py
  src/anypod/config/podcast_explicit.py
  src/anypod/data_coordinator/downloader.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/data_coordinator/pruner.py
  src/anypod/db/__init__.py
  src/anypod/db/download.py
  src/anypod/db/download_db.py
  src/anypod/db/download_status.py
  src/anypod/db/feed.py
  src/anypod/db/feed_db.py
  src/anypod/db/source_type.py
  src/anypod/path_manager.py
  src/anypod/rss/feedgen_core.py
  src/anypod/rss/rss_feed.py
  src/anypod/ytdlp_wrapper/base_handler.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/data_coordinator/test_downloader.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/data_coordinator/test_pruner.py
  tests/anypod/db/test_download_db.py
  tests/anypod/db/test_feed_db.py
  tests/anypod/test_rss_feed.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/integration/test_integration_downloader.py
  tests/integration/test_integration_enqueuer.py
  tests/integration/test_integration_pruner.py
  tests/integration/test_integration_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright

refactor: centralize data classes under types packages
  src/anypod/cli/debug_downloader.py
  src/anypod/cli/debug_enqueuer.py
  src/anypod/cli/debug_ytdlp.py
  src/anypod/config/__init__.py
  src/anypod/config/feed_config.py
  src/anypod/config/types/__init__.py
  src/anypod/config/types/feed_metadata_overrides.py
  src/anypod/config/types/podcast_categories.py
  src/anypod/config/types/podcast_explicit.py
  src/anypod/data_coordinator/downloader.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/data_coordinator/pruner.py
  src/anypod/db/download_db.py
  src/anypod/db/feed_db.py
  src/anypod/db/types/__init__.py
  src/anypod/db/types/download.py
  src/anypod/db/types/download_status.py
  src/anypod/db/types/feed.py
  src/anypod/db/types/source_type.py
  src/anypod/rss/feedgen_core.py
  src/anypod/rss/rss_feed.py
  src/anypod/ytdlp_wrapper/base_handler.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/data_coordinator/test_downloader.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/data_coordinator/test_pruner.py
  tests/anypod/db/test_download_db.py
  tests/anypod/db/test_feed_db.py
  tests/anypod/test_rss_feed.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/integration/test_integration_downloader.py
  tests/integration/test_integration_enqueuer.py
  tests/integration/test_integration_pruner.py
  tests/integration/test_integration_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright

Group data classes under types packages (#7)
  src/anypod/cli/debug_downloader.py
  src/anypod/cli/debug_enqueuer.py
  src/anypod/cli/debug_ytdlp.py
  src/anypod/config/__init__.py
  src/anypod/config/feed_config.py
  src/anypod/config/types/__init__.py
  src/anypod/config/types/feed_metadata_overrides.py
  src/anypod/config/types/podcast_categories.py
  src/anypod/config/types/podcast_explicit.py
  src/anypod/data_coordinator/downloader.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/data_coordinator/pruner.py
  src/anypod/db/download_db.py
  src/anypod/db/feed_db.py
  src/anypod/db/types/__init__.py
  src/anypod/db/types/download.py
  src/anypod/db/types/download_status.py
  src/anypod/db/types/feed.py
  src/anypod/db/types/source_type.py
  src/anypod/rss/feedgen_core.py
  src/anypod/rss/rss_feed.py
  src/anypod/ytdlp_wrapper/base_handler.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/data_coordinator/test_downloader.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/data_coordinator/test_pruner.py
  tests/anypod/db/test_download_db.py
  tests/anypod/db/test_feed_db.py
  tests/anypod/test_rss_feed.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/integration/test_integration_downloader.py
  tests/integration/test_integration_enqueuer.py
  tests/integration/test_integration_pruner.py
  tests/integration/test_integration_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright

update feed metadata when enqueuing downloads
  AGENTS.md
  TASK_LIST.md
  src/anypod/config/types/podcast_categories.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/db/feed_db.py
  tests/CLAUDE.md
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/db/test_feed_db.py
  tests/integration/test_integration_downloader.py
  tests/integration/test_integration_enqueuer.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

add quality_info to Download
  .claude/settings.local.json
  DESIGN_DOC.md
  TASK_LIST.md
  src/anypod/cli/cli.py
  src/anypod/cli/debug_downloader.py
  src/anypod/cli/debug_enqueuer.py
  src/anypod/cli/debug_ytdlp.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
Due: ruff-format, ruff-lint, pyright

more circular dependency woes. make sure total_downloads count is accurate, both when adding and subtracting
  TASK_LIST.md
  src/anypod/config/feed_config.py
  src/anypod/config/types/podcast_categories.py
  src/anypod/config/types/podcast_explicit.py
  src/anypod/data_coordinator/pruner.py
  src/anypod/db/download_db.py
  src/anypod/db/feed_db.py
  src/anypod/db/sqlite_utils_core.py
  src/anypod/db/types/download_status.py
  tests/anypod/data_coordinator/test_pruner.py
  tests/anypod/db/test_download_db.py
  tests/anypod/db/test_feed_db.py
Due: ruff-format, ruff-lint, pyright

Adjust test headers and spacing
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/test_rss_feed.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_info.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/config/test_config.py
  tests/integration/test_integration_downloader.py
  tests/integration/test_integration_enqueuer.py
  tests/integration/test_integration_pruner.py
  tests/integration/test_integration_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright

minor formatting fixes
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/test_rss_feed.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_info.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/config/test_config.py
  tests/integration/test_integration_pruner.py
Due: ruff-format, ruff-lint, pyright

Add missing test headers and correct order
  tests/anypod/data_coordinator/test_pruner.py
  tests/anypod/db/test_feed_db.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
Due: ruff-format, ruff-lint, pyright

remove race conditions across db calls
  src/anypod/data_coordinator/pruner.py
  src/anypod/db/download_db.py
  src/anypod/db/feed_db.py
  src/anypod/db/sqlite_utils_core.py
  tests/anypod/db/test_download_db.py
  tests/integration/test_integration_pruner.py
Due: ruff-format, ruff-lint, pyright

improve AGENTS.md handling
  scripts/sync_agents_md.py
  tests/AGENTS.md
Due: ruff-format, ruff-lint, pyright

improve AGENTS.md handling
  scripts/sync_agents_md.py
  tests/AGENTS.md
  tests/anypod/db/test_feed_db.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
Due: ruff-format, ruff-lint, pyright

Organize test headers correctly (#8)
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/data_coordinator/test_pruner.py
  tests/anypod/db/test_feed_db.py
  tests/anypod/test_rss_feed.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_info.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/config/test_config.py
  tests/integration/test_integration_downloader.py
  tests/integration/test_integration_enqueuer.py
  tests/integration/test_integration_pruner.py
  tests/integration/test_integration_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright

Refactor data coordinator into modular components
  CLAUDE.md
  TASK_LIST.md
  src/anypod/data_coordinator.py.outdated
  src/anypod/data_coordinator/__init__.py
  src/anypod/data_coordinator/coordinator.py
  src/anypod/data_coordinator/coordinator.py.outdated
  src/anypod/data_coordinator/pruner.py
  src/anypod/data_coordinator/types/__init__.py
  src/anypod/data_coordinator/types/phase_result.py
  src/anypod/data_coordinator/types/processing_results.py
  src/anypod/db/feed_db.py
  src/anypod/db/types/feed.py
  src/anypod/exceptions.py
  src/anypod/rss/__init__.py
  src/anypod/rss/feedgen_core.py
  src/anypod/rss/rss_feed.py
  src/anypod/ytdlp_wrapper/base_handler.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_core.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/data_coordinator/test_downloader.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/data_coordinator/test_pruner.py
  tests/anypod/db/test_feed_db.py
  tests/anypod/test_data_coordinator.py.outdated
  tests/anypod/test_rss_feed.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/integration/test_integration_data_coordinator.py
  tests/integration/test_integration_downloader.py
  tests/integration/test_integration_enqueuer.py
  tests/integration/test_integration_pruner.py
  tests/integration/test_integration_ytdlp_wrapper.py
  uv.lock
Due: ruff-format, ruff-lint, pyright, sync-agents-md

start planning for server
  CLAUDE.md
  TASK_LIST.md
Due: sync-agents-md

Work in progress: state reconciliation feature
  .claude/settings.local.json
  CLAUDE.md
  TASK_LIST.md
  pyproject.toml
  src/anypod/cli/debug_enqueuer.py
  src/anypod/cli/debug_ytdlp.py
  src/anypod/data_coordinator/coordinator.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/db/feed_db.py
  src/anypod/db/sqlite_utils_core.py
  src/anypod/db/types/feed.py
  src/anypod/exceptions.py
  src/anypod/state_reconciler.py
  src/anypod/utils/__init__.py
  src/anypod/utils/cron_utils.py
  src/anypod/ytdlp_wrapper/base_handler.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/CLAUDE.md
  tests/anypod/data_coordinator/test_downloader.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/db/test_feed_db.py
  tests/anypod/test_rss_feed.py
  tests/anypod/utils/test_cron_utils.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/integration/test_integration_data_coordinator.py
  tests/integration/test_integration_downloader.py
  tests/integration/test_integration_enqueuer.py
  tests/integration/test_integration_pruner.py
  tests/integration/test_integration_ytdlp_wrapper.py
  uv.lock
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: Implement state reconciliation for config changes
  TASK_LIST.md
  src/anypod/config/config.py
  src/anypod/config/feed_config.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/db/download_db.py
  src/anypod/db/feed_db.py
  src/anypod/db/sqlite_utils_core.py
  src/anypod/db/types/feed.py
  src/anypod/state_reconciler.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/db/test_download_db.py
Due: ruff-format, ruff-lint, pyright

feat: Implement state reconciliation for config changes
  DESIGN_DOC.md
  TASK_LIST.md
  src/anypod/config/config.py
  src/anypod/config/types/feed_metadata_overrides.py
  src/anypod/config/types/podcast_categories.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/data_coordinator/pruner.py
  src/anypod/db/download_db.py
  src/anypod/rss/rss_feed.py
  src/anypod/state_reconciler.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/data_coordinator/test_pruner.py
  tests/anypod/db/test_download_db.py
  tests/anypod/test_rss_feed.py
  tests/anypod/test_state_reconciler.py
  tests/integration/test_integration_data_coordinator.py
  tests/integration/test_integration_downloader.py
  tests/integration/test_integration_enqueuer.py
  tests/integration/test_integration_pruner.py
  tests/integration/test_integration_state_reconciler.py
Due: ruff-format, ruff-lint, pyright

feat: implement scheduler module with APScheduler integration
  .claude/settings.local.json
  CLAUDE.md
  DESIGN_DOC.md
  TASK_LIST.md
  pyproject.toml
  src/anypod/exceptions.py
  src/anypod/logging_config.py
  src/anypod/schedule/__init__.py
  src/anypod/schedule/apscheduler_core.py
  src/anypod/schedule/scheduler.py
  uv.lock
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: integrate CronExpression type throughout codebase
  CLAUDE.md
  TASK_LIST.md
  src/anypod/cli/debug_enqueuer.py
  src/anypod/config/feed_config.py
  src/anypod/config/types/__init__.py
  src/anypod/config/types/cron_expression.py
  src/anypod/data_coordinator/coordinator.py
  src/anypod/schedule/apscheduler_core.py
  src/anypod/schedule/scheduler.py
  src/anypod/utils/__init__.py
  src/anypod/utils/cron_utils.py
  src/anypod/ytdlp_wrapper/ytdlp_core.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/data_coordinator/test_downloader.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/schedule/test_scheduler.py
  tests/anypod/test_path_manager.py
  tests/anypod/test_rss_feed.py
  tests/anypod/test_state_reconciler.py
  tests/anypod/utils/test_cron_utils.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/config/test_config.py
  tests/integration/test_integration_data_coordinator.py
  tests/integration/test_integration_enqueuer.py
  tests/integration/test_integration_scheduler.py
  tests/integration/test_integration_state_reconciler.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: Implement scheduler with typed cron expressions and APScheduler integration (#11)
  .claude/settings.local.json
  CLAUDE.md
  DESIGN_DOC.md
  TASK_LIST.md
  pyproject.toml
  src/anypod/cli/debug_enqueuer.py
  src/anypod/config/feed_config.py
  src/anypod/config/types/__init__.py
  src/anypod/config/types/cron_expression.py
  src/anypod/data_coordinator/coordinator.py
  src/anypod/exceptions.py
  src/anypod/logging_config.py
  src/anypod/schedule/__init__.py
  src/anypod/schedule/apscheduler_core.py
  src/anypod/schedule/scheduler.py
  src/anypod/utils/__init__.py
  src/anypod/utils/cron_utils.py
  src/anypod/ytdlp_wrapper/ytdlp_core.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/data_coordinator/test_downloader.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/schedule/test_scheduler.py
  tests/anypod/test_path_manager.py
  tests/anypod/test_rss_feed.py
  tests/anypod/test_state_reconciler.py
  tests/anypod/utils/test_cron_utils.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/config/test_config.py
  tests/integration/test_integration_data_coordinator.py
  tests/integration/test_integration_enqueuer.py
  tests/integration/test_integration_scheduler.py
  tests/integration/test_integration_state_reconciler.py
  uv.lock
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: Accommodate yt-dlp day-level date precision with deduplication
  .claude/settings.local.json
  CLAUDE.md
  DESIGN_DOC.md
  TASK_LIST.md
  src/anypod/cli/debug_enqueuer.py
  src/anypod/config/feed_config.py
  src/anypod/data_coordinator/coordinator.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/config/test_config.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: Enhance enqueuer metadata updates and state reconciliation improvements
  .claude/settings.local.json
  .envrc
  TASK_LIST.md
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/db/download_db.py
  src/anypod/state_reconciler.py
  tests/anypod/test_state_reconciler.py
  tests/integration/test_integration_state_reconciler.py
Due: ruff-format, ruff-lint, pyright

refactor: consolidate enqueuer to use state reconciler pattern
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/db/download_db.py
  src/anypod/db/types/download.py
  tests/anypod/data_coordinator/test_enqueuer.py
Due: ruff-format, ruff-lint, pyright

refactor: improve database initialization and error handling
  .cursor/rules/claude-project-rules.mdc
  .cursor/rules/claude-tests-rules.mdc
  .cursor/rules/design-doc.mdc
  .cursor/rules/python-best-practices.mdc
  .cursor/rules/python-testing.mdc
  .cursor/rules/python-tooling.mdc
  .pre-commit-config.yaml
  .vscode/settings.json
  TASK_LIST.md
  pyproject.toml
  scripts/sync_cursor_rules.py
  src/anypod/data_coordinator/coordinator.py
  src/anypod/db/download_db.py
  src/anypod/db/feed_db.py
  src/anypod/db/types/feed.py
  src/anypod/schedule/scheduler.py
  src/anypod/state_reconciler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/db/test_download_db.py
  tests/anypod/db/test_feed_db.py
  tests/anypod/test_state_reconciler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/integration/test_integration_data_coordinator.py
  tests/integration/test_integration_downloader.py
  tests/integration/test_integration_state_reconciler.py
Due: ruff-format, ruff-lint, pyright

feat: implement main service orchestration in default CLI mode
  .claude/commands/check.md
  .claude/commands/gc.md
  .cursor/rules/claude-project-rules.mdc
  CLAUDE.md
  README.md
  TASK_LIST.md
  pyproject.toml
  src/anypod/__main__.py
  src/anypod/cli/cli.py
  src/anypod/cli/default.py
  src/anypod/config/config.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/logging_config.py
  src/anypod/schedule/apscheduler_core.py
  src/anypod/state_reconciler.py
  src/anypod/ytdlp_wrapper/ytdlp_core.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/config/test_config.py
  tests/integration/test_integration_data_coordinator.py
  tests/integration/test_integration_downloader.py
  tests/integration/test_integration_enqueuer.py
  tests/integration/test_integration_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: implement main service orchestration and improve path management
  .claude/settings.local.json
  .cursor/rules/claude-project-rules.mdc
  .gitignore
  .serena/project.yml
  CLAUDE.md
  README.md
  TASK_LIST.md
  src/anypod/cli/cli.py
  src/anypod/cli/debug_downloader.py
  src/anypod/cli/debug_enqueuer.py
  src/anypod/cli/default.py
  src/anypod/config/config.py
  src/anypod/data_coordinator/coordinator.py
  src/anypod/data_coordinator/downloader.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/file_manager.py
  src/anypod/path_manager.py
  src/anypod/ytdlp_wrapper/ytdlp_core.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/data_coordinator/test_downloader.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/test_file_manager.py
  tests/anypod/test_path_manager.py
  tests/anypod/test_rss_feed.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/integration/test_integration_data_coordinator.py
  tests/integration/test_integration_downloader.py
  tests/integration/test_integration_enqueuer.py
  tests/integration/test_integration_pruner.py
  tests/integration/test_integration_scheduler.py
  tests/integration/test_integration_state_reconciler.py
  tests/integration/test_integration_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

refactor: standardize cookies parameter naming and integration tests
  .claude/settings.local.json
  .cursor/rules/claude-project-rules.mdc
  .gitignore
  CLAUDE.md
  README.md
  src/anypod/cli/debug_downloader.py
  src/anypod/cli/debug_enqueuer.py
  src/anypod/cli/default.py
  src/anypod/config/config.py
  src/anypod/data_coordinator/coordinator.py
  src/anypod/data_coordinator/downloader.py
  src/anypod/data_coordinator/enqueuer.py
  tests/integration/conftest.py
  tests/integration/test_integration_data_coordinator.py
  tests/integration/test_integration_downloader.py
  tests/integration/test_integration_enqueuer.py
  tests/integration/test_integration_scheduler.py
  tests/integration/test_integration_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

refactor: make database connections thread-local with WAL mode
  .claude/commands/gc.md
  TASK_LIST.md
  src/anypod/db/download_db.py
  src/anypod/db/feed_db.py
  src/anypod/db/sqlite_utils_core.py
  tests/anypod/db/test_download_db.py
  tests/anypod/db/test_feed_db.py
  tests/integration/conftest.py
  tests/integration/test_integration_data_coordinator.py
  tests/integration/test_integration_downloader.py
  tests/integration/test_integration_enqueuer.py
  tests/integration/test_integration_pruner.py
  tests/integration/test_integration_scheduler.py
  tests/integration/test_integration_state_reconciler.py
  tests/integration/test_integration_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright

feat: add graceful shutdown and immediate feed sync on startup
  TASK_LIST.md
  src/anypod/cli/default.py
  src/anypod/schedule/apscheduler_core.py
  src/anypod/schedule/scheduler.py
Due: ruff-format, ruff-lint, pyright

feat: convert file operations to async using aiofiles
  TASK_LIST.md
  pyproject.toml
  src/anypod/cli/default.py
  src/anypod/data_coordinator/coordinator.py
  src/anypod/data_coordinator/downloader.py
  src/anypod/data_coordinator/pruner.py
  src/anypod/file_manager.py
  src/anypod/path_manager.py
  src/anypod/state_reconciler.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/data_coordinator/test_downloader.py
  tests/anypod/data_coordinator/test_pruner.py
  tests/anypod/test_file_manager.py
  tests/anypod/test_path_manager.py
  tests/anypod/test_state_reconciler.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/integration/test_integration_data_coordinator.py
  tests/integration/test_integration_downloader.py
  tests/integration/test_integration_pruner.py
  tests/integration/test_integration_scheduler.py
  tests/integration/test_integration_state_reconciler.py
  uv.lock
Due: ruff-format, ruff-lint, pyright

feat: convert ytdlp_wrapper to async with subprocess calls
  CLAUDE.md
  TASK_LIST.md
  src/anypod/cli/default.py
  src/anypod/config/feed_config.py
  src/anypod/ytdlp_wrapper/base_handler.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_core.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/integration/test_integration_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

refactor: eliminate ytdlp_wrapper callback pattern for direct YtdlpCore calls
  .serena/project.yml
  src/anypod/ytdlp_wrapper/base_handler.py
  src/anypod/ytdlp_wrapper/core/core.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/config/test_config.py
Due: ruff-format, ruff-lint, pyright

refactor: encapsulate yt-dlp CLI args in YtdlpArgs builder pattern
  .claude/commands/gc.md
  TASK_LIST.md
  src/anypod/cli/cli.py
  src/anypod/cli/debug_ytdlp.py
  src/anypod/ytdlp_wrapper/base_handler.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_core.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/integration/test_integration_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright

refactor: reorganize ytdlp_core into modular core/ structure
  .cursor/rules/claude-project-rules.mdc
  src/anypod/ytdlp_wrapper/base_handler.py
  src/anypod/ytdlp_wrapper/core/__init__.py
  src/anypod/ytdlp_wrapper/core/args.py
  src/anypod/ytdlp_wrapper/core/core.py
  src/anypod/ytdlp_wrapper/core/info.py
  src/anypod/ytdlp_wrapper/core/thumbnails.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_core.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_info.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/config/test_config.py
Due: ruff-format, ruff-lint, pyright

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  pyright: any of: \.py$
  sync-agents-md: any of: ^(CLAUDE\.md|tests/CLAUDE\.md)$
