Repository thurstonsand/anypod: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, pyright, sync-agents-md

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

ruff-lint:
  name: ruff lint
  entry: uv run ruff check
  language: system

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

sync-agents-md:
  name: sync CLAUDE.md files to AGENTS.md
  entry: scripts/sync_agents_md.py
  language: script
  pass_filenames: false

feat: convert core components to async
  .cursor/rules/claude-project-rules.mdc
  .serena/project.yml
  CLAUDE.md
  TASK_LIST.md
  src/anypod/cli/cli.py
  src/anypod/cli/debug_downloader.py
  src/anypod/cli/debug_enqueuer.py
  src/anypod/data_coordinator/coordinator.py
  src/anypod/data_coordinator/downloader.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/schedule/scheduler.py
  tests/anypod/data_coordinator/test_downloader.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/schedule/test_scheduler.py
  tests/config/test_config.py
  tests/integration/test_integration_data_coordinator.py
  tests/integration/test_integration_downloader.py
  tests/integration/test_integration_enqueuer.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: add Alembic database migrations and cleanup sqlite-utils
  .claude/commands/gc.md
  .claude/settings.local.json
  .gitignore
  .serena/project.yml
  TASK_LIST.md
  alembic.ini
  alembic/README.md
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/2025_06_25_423d964333d1_initial_schema_from_sqlmodels.py
  alembic/versions/2025_06_25_78f7e4e33398_add_database_triggers.py
  pyproject.toml
  pyrightconfig.json
  src/anypod/cli/debug_downloader.py
  src/anypod/cli/debug_enqueuer.py
  src/anypod/cli/default.py
  src/anypod/db/base_db.py
  src/anypod/db/sqlalchemy_core.py
  src/anypod/db/sqlite_utils_core.py
  src/anypod/db/types/download.py
  src/anypod/db/types/feed.py
  src/anypod/db/types/source_type.py
  tests/anypod/db/test_download_db.py
  tests/anypod/db/test_feed_db.py
  tests/anypod/db/test_sqlalchemy_core.py
  tests/helpers/__init__.py
  tests/helpers/alembic.py
  tests/integration/conftest.py
Due: ruff-format, ruff-lint, pyright

fix: resolve YouTube channel classification and feed metadata sync issues
  .claude/settings.local.json
  DESIGN_DOC.md
  TASK_LIST.md
  scripts/run_dev.sh
  src/anypod/cli/cli.py
  src/anypod/cli/default.py
  src/anypod/config/config.py
  src/anypod/data_coordinator/coordinator.py
  src/anypod/data_coordinator/downloader.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/data_coordinator/pruner.py
  src/anypod/db/download_db.py
  src/anypod/db/feed_db.py
  src/anypod/logging_config.py
  src/anypod/rss/rss_feed.py
  src/anypod/schedule/scheduler.py
  src/anypod/state_reconciler.py
  src/anypod/ytdlp_wrapper/core/args.py
  src/anypod/ytdlp_wrapper/core/thumbnails.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
Due: ruff-format, ruff-lint, pyright

fix: resolve APScheduler job skipping and yt-dlp missing extension errors
  .claude/settings.local.json
  src/anypod/data_coordinator/coordinator.py
  src/anypod/schedule/scheduler.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  uv.lock
Due: ruff-format, ruff-lint, pyright

feat: optimize yt-dlp discovery with upfront feed resolution
  .cursor/rules/claude-project-rules.mdc
  .gemini/settings.json
  CLAUDE.md
  TASK_LIST.md
  alembic/versions/2025_06_27_56d11f3bc82c_add_resolved_url_field_to_feed_table.py
  src/anypod/cli/debug_ytdlp.py
  src/anypod/cli/default.py
  src/anypod/data_coordinator/downloader.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/db/types/feed.py
  src/anypod/state_reconciler.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/data_coordinator/test_downloader.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/test_state_reconciler.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/integration/test_integration_data_coordinator.py
  tests/integration/test_integration_downloader.py
  tests/integration/test_integration_enqueuer.py
  tests/integration/test_integration_scheduler.py
  tests/integration/test_integration_state_reconciler.py
  tests/integration/test_integration_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: standardize debug mode infrastructure with unified script and configuration
  .cursor/rules/claude-project-rules.mdc
  .gitignore
  CLAUDE.md
  DESIGN_DOC.md
  scripts/run_debug.sh
  src/anypod/cli/cli.py
  src/anypod/cli/debug_downloader.py
  src/anypod/cli/debug_enqueuer.py
  src/anypod/cli/debug_ytdlp.py
  src/anypod/config/config.py
  src/anypod/data_coordinator/enqueuer.py
  tests/anypod/data_coordinator/test_enqueuer.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

refactor: optimize ytdlp_wrapper by removing redundant abstractions
  TASK_LIST.md
  debug.yaml
  pyproject.toml
  pyrightconfig.json
  src/anypod/ytdlp_wrapper/base_handler.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  uv.lock
Due: ruff-format, ruff-lint, pyright

Update Claude PR Assistant workflow
  .github/workflows/claude.yml
Due: none

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: none

improve on claude workflow
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Improve GitHub Actions workflow configuration
  .claude/commands/gc.md
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Add Claude Code GitHub Workflow (#18)
  .claude/commands/gc.md
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Optimize yt-dlp discovery with upfront feed resolution (#19)
  .claude/settings.local.json
  .cursor/rules/claude-project-rules.mdc
  .gemini/settings.json
  .gitignore
  CLAUDE.md
  DESIGN_DOC.md
  TASK_LIST.md
  alembic/versions/2025_06_27_56d11f3bc82c_add_resolved_url_field_to_feed_table.py
  debug.yaml
  pyproject.toml
  pyrightconfig.json
  scripts/run_debug.sh
  src/anypod/cli/cli.py
  src/anypod/cli/debug_downloader.py
  src/anypod/cli/debug_enqueuer.py
  src/anypod/cli/debug_ytdlp.py
  src/anypod/cli/default.py
  src/anypod/config/config.py
  src/anypod/data_coordinator/coordinator.py
  src/anypod/data_coordinator/downloader.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/db/types/feed.py
  src/anypod/schedule/scheduler.py
  src/anypod/state_reconciler.py
  src/anypod/ytdlp_wrapper/base_handler.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/data_coordinator/test_downloader.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/test_state_reconciler.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/integration/test_integration_data_coordinator.py
  tests/integration/test_integration_downloader.py
  tests/integration/test_integration_enqueuer.py
  tests/integration/test_integration_scheduler.py
  tests/integration/test_integration_state_reconciler.py
  tests/integration/test_integration_ytdlp_wrapper.py
  uv.lock
Due: ruff-format, ruff-lint, pyright, sync-agents-md

fix: resolve APScheduler job skipping and yt-dlp missing extension errors
  uv.lock
Due: none

feat: implement initial HTTP server infrastructure and RSS compliance fixes
  .claude/settings.local.json
  .cursor/rules/claude-project-rules.mdc
  CLAUDE.md
  DESIGN_DOC.md
  TASK_LIST.md
  alembic/versions/2025_07_10_23cf24f50086_add_author_email_field_to_feed_table.py
  pyproject.toml
  src/anypod/cli/default.py
  src/anypod/config/config.py
  src/anypod/config/types/__init__.py
  src/anypod/config/types/feed_metadata_overrides.py
  src/anypod/config/types/podcast_categories.py
  src/anypod/config/types/podcast_type.py
  src/anypod/db/feed_db.py
  src/anypod/db/types/feed.py
  src/anypod/file_manager.py
  src/anypod/mimetypes.py
  src/anypod/rss/feedgen_core.py
  src/anypod/server/__init__.py
  src/anypod/server/app.py
  src/anypod/server/dependencies.py
  src/anypod/server/routers/__init__.py
  src/anypod/server/routers/health.py
  src/anypod/server/routers/static.py
  src/anypod/server/server.py
  src/anypod/state_reconciler.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/server/routers/test_health.py
  tests/anypod/server/routers/test_static.py
  tests/anypod/server/test_app.py
  tests/anypod/test_file_manager.py
  tests/anypod/test_rss_feed.py
  tests/anypod/test_state_reconciler.py
  tests/integration/conftest.py
  tests/integration/test_integration_downloader.py
  tests/integration/test_integration_server.py
  tests/integration/test_integration_state_reconciler.py
  uv.lock
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: add non-null defaults for feed category and explicit fields
  .cursor/rules/claude-project-rules.mdc
  CLAUDE.md
  DESIGN_DOC.md
  alembic/versions/2025_06_25_423d964333d1_initial_schema_from_sqlmodels.py
  src/anypod/config/types/feed_metadata_overrides.py
  src/anypod/config/types/podcast_categories.py
  src/anypod/db/types/feed.py
  src/anypod/rss/feedgen_core.py
  src/anypod/state_reconciler.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/integration/test_integration_enqueuer.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: add HTTP directory browsing for feeds and media
  .claude/commands/gc.md
  .claude/settings.local.json
  .cursor/rules/claude-project-rules.mdc
  .github/workflows/claude-code-review.yml
  CLAUDE.md
  DESIGN_DOC.md
  TASK_LIST.md
  src/anypod/cli/default.py
  src/anypod/server/app.py
  src/anypod/server/dependencies.py
  src/anypod/server/routers/static.py
  src/anypod/server/server.py
  tests/anypod/server/routers/test_static.py
  tests/anypod/server/test_app.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: add trusted_proxies configuration for reverse proxy support
  .claude/commands/pr.md
  .cursor/rules/claude-project-rules.mdc
  CLAUDE.md
  DESIGN_DOC.md
  src/anypod/config/config.py
  src/anypod/server/app.py
  src/anypod/server/server.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/integration/conftest.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: implement HTTP range requests and HEAD support for media files
  DESIGN_DOC.md
  src/anypod/data_coordinator/downloader.py
  src/anypod/file_manager.py
  src/anypod/server/routers/static.py
  tests/anypod/server/routers/test_static.py
  tests/anypod/server/test_app.py
  tests/anypod/test_state_reconciler.py
  tests/integration/test_integration_server.py
  tests/integration/test_integration_state_reconciler.py
Due: ruff-format, ruff-lint, pyright

feat: add FastAPI input validation and path traversal protection
  .cursor/rules/claude-project-rules.mdc
  .cursor/rules/claude-tests-rules.mdc
  CLAUDE.md
  TASK_LIST.md
  src/anypod/server/routers/static.py
  src/anypod/server/validation.py
  tests/CLAUDE.md
  tests/anypod/server/routers/test_static.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: add Docker containerization with multi-stage build and graceful shutdown
  .claude/commands/gc.md
  .claude/settings.local.json
  .cursor/rules/claude-project-rules.mdc
  .dockerignore
  CLAUDE.md
  DESIGN_DOC.md
  Dockerfile
  TASK_LIST.md
  docker-entrypoint.sh
  src/anypod/__main__.py
  src/anypod/cli/debug_enqueuer.py
  src/anypod/cli/default.py
  src/anypod/config/types/feed_metadata_overrides.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/db/types/feed.py
  src/anypod/logging_config.py
  src/anypod/metadata.py
  src/anypod/server/app.py
  src/anypod/server/server.py
  src/anypod/state_reconciler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/test_metadata.py
  tests/anypod/test_state_reconciler.py
  tests/integration/conftest.py
  tests/integration/test_integration_enqueuer.py
  tests/integration/test_integration_state_reconciler.py
  tests/integration/test_integration_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: add GitHub Actions Docker publishing with integrated security scanning
  .claude/settings.local.json
  .cursor/rules/claude-project-rules.mdc
  .github/workflows/docker-publish.yml
  .trivyignore
  CLAUDE.md
  DESIGN_DOC.md
  docker-compose.yaml
  docker-entrypoint.sh
Due: sync-agents-md

feat: Docker containerization with automated publishing and production deployment (#22)
  .claude/commands/gc.md
  .claude/settings.local.json
  .cursor/rules/claude-project-rules.mdc
  .dockerignore
  .github/workflows/docker-pr-test.yml
  .github/workflows/docker-publish.yml
  .trivyignore
  CLAUDE.md
  DESIGN_DOC.md
  Dockerfile
  TASK_LIST.md
  docker-compose.yaml
  docker-entrypoint.sh
  src/anypod/__main__.py
  src/anypod/cli/debug_enqueuer.py
  src/anypod/cli/default.py
  src/anypod/config/types/feed_metadata_overrides.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/db/types/feed.py
  src/anypod/logging_config.py
  src/anypod/metadata.py
  src/anypod/server/app.py
  src/anypod/server/server.py
  src/anypod/state_reconciler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/test_metadata.py
  tests/anypod/test_state_reconciler.py
  tests/integration/conftest.py
  tests/integration/test_integration_enqueuer.py
  tests/integration/test_integration_state_reconciler.py
  tests/integration/test_integration_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: enhance development workflow and production robustness
  .claude/settings.local.json
  .cursor/rules/claude-project-rules.mdc
  .gitignore
  CLAUDE.md
  DESIGN_DOC.md
  Dockerfile
  docker-compose.yaml
  example_feeds.yaml
  scripts/run_debug.sh
  scripts/run_dev.sh
  src/anypod/cli/default.py
  src/anypod/config/config.py
  src/anypod/logging_config.py
  src/anypod/rss/feedgen_core.py
  src/anypod/state_reconciler.py
  src/anypod/ytdlp_wrapper/core/core.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  tests/anypod/test_state_reconciler.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: implement two-phase yt-dlp metadata retrieval optimization
  .claude/commands/gc.md
  .claude/settings.local.json
  .cursor/rules/claude-tests-rules.mdc
  DESIGN_DOC.md
  README.md
  src/anypod/cli/debug_enqueuer.py
  src/anypod/cli/debug_ytdlp.py
  src/anypod/data_coordinator/coordinator.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/state_reconciler.py
  src/anypod/ytdlp_wrapper/base_handler.py
  src/anypod/ytdlp_wrapper/core/args.py
  src/anypod/ytdlp_wrapper/core/core.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/CLAUDE.md
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/db/test_feed_db.py
  tests/anypod/test_state_reconciler.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/integration/test_integration_data_coordinator.py
  tests/integration/test_integration_downloader.py
  tests/integration/test_integration_enqueuer.py
  tests/integration/test_integration_ytdlp_wrapper.py
  uv.lock
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: enhance Claude code review GitHub action
  .claude/commands/gc.md
  .claude/commands/pr.md
  .claude/settings.local.json
  .github/workflows/claude-code-review.yml
Due: none

Add GitHub Actions security review workflow (#27)
  .claude/commands/gc.md
  .claude/commands/pr.md
  .claude/settings.local.json
  .github/workflows/claude-code-review.yml
Due: none

chore(logging): enrich structured logs and standardize messages
  src/anypod/data_coordinator/coordinator.py
  src/anypod/data_coordinator/downloader.py
  src/anypod/rss/rss_feed.py
Due: ruff-format, ruff-lint, pyright

fix: resolve retention policy edge cases and sync timestamp handling
  .cursor/rules/claude-project-rules.mdc
  CLAUDE.md
  src/anypod/data_coordinator/coordinator.py
  src/anypod/state_reconciler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/test_state_reconciler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

fix: resolve retention policy edge cases and sync timestamp handling (#28)
  .cursor/rules/claude-project-rules.mdc
  CLAUDE.md
  src/anypod/data_coordinator/coordinator.py
  src/anypod/state_reconciler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/test_state_reconciler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: experiment with yt-dlp hooks for transcoding via scripts
  .claude/commands/gc.md
  .claude/settings.local.json
  DESIGN_DOC.md
  Dockerfile
  docker/scripts/convert_video.sh
  docker/scripts/docker-entrypoint.sh
  example_feeds.yaml
  src/anypod/data_coordinator/enqueuer.py
Due: ruff-format, ruff-lint, pyright

bump deps
  uv.lock
Due: none

docs: replace development README with comprehensive user documentation
  README.md
  README_pre.md
  TASK_LIST.md
  src/anypod/config/types/feed_metadata_overrides.py
Due: ruff-format, ruff-lint, pyright

feat: enhance yt-dlp integration with better thumbnails and version control
  .cursor/commands/gc.md
  .cursor/rules/claude-project-rules.mdc
  CLAUDE.md
  DESIGN_DOC.md
  Dockerfile
  README.md
  TASK_LIST.md
  pyproject.toml
  src/anypod/cli/debug_ytdlp.py
  src/anypod/config/feed_config.py
  src/anypod/data_coordinator/downloader.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/state_reconciler.py
  src/anypod/ytdlp_wrapper/core/args.py
  src/anypod/ytdlp_wrapper/core/core.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/data_coordinator/test_downloader.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/integration/test_integration_ytdlp_wrapper.py
  uv.lock
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: add issue triage workflow
  .claude/commands/review.md
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-issue-triage.yml
  .github/workflows/claude.yml
Due: none

chore: upgrade Claude Code action to v1 (#36)
  .claude/commands/review.md
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-issue-triage.yml
  .github/workflows/claude.yml
Due: none

fix: add required permissions to Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  pyright: any of: \.py$
  sync-agents-md: any of: ^(CLAUDE\.md|tests/CLAUDE\.md)$
