Repository thurstonsand/anypod: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, basedpyright, sync-agents-md, sync-cursor-rules

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

ruff-lint:
  name: ruff lint
  entry: uv run ruff check
  language: system

basedpyright:
  name: basedpyright type checking
  entry: uv run basedpyright
  language: system

sync-agents-md:
  name: sync CLAUDE.md files to AGENTS.md
  entry: scripts/sync_agents_md.py
  language: script
  pass_filenames: false

sync-cursor-rules:
  name: sync CLAUDE.md files to Cursor rules
  entry: scripts/sync_cursor_rules.py
  language: script
  pass_filenames: false

feat(meta): add GitHub issue filing skill and refine templates
  .claude/skills/github-issue-filer/SKILL.md
  .claude/skills/github-issue-filer/scripts/create_issue.py
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/workflows/claude-issue-triage.yml
Due: ruff-format, ruff-lint, basedpyright

feat: upgrade to Python 3.14
  .python-version
  CLAUDE.md
  DESIGN_DOC.md
  Dockerfile
  README.md
  TASK_LIST.md
  pyproject.toml
  uv.lock
Due: sync-agents-md, sync-cursor-rules

refactor: remove quoted forward references for Python 3.14
  src/anypod/cli/cli.py
  src/anypod/config/feed_config.py
  src/anypod/config/types/cron_expression.py
  src/anypod/config/types/podcast_categories.py
  src/anypod/config/types/podcast_explicit.py
  src/anypod/config/types/podcast_type.py
  src/anypod/db/types/download.py
  src/anypod/db/types/feed.py
  src/anypod/rss/feedgen_core.py
  src/anypod/state_reconciler.py
  src/anypod/ytdlp_wrapper/core/args.py
  src/anypod/ytdlp_wrapper/core/info.py
  src/anypod/ytdlp_wrapper/handlers/youtube_handler.py
  tests/anypod/test_rss_feed.py
Due: ruff-format, ruff-lint, basedpyright

fix(ci): improve error handling in Dockerfile deps workflow
  .claude/settings.local.json
  .cursor/rules/claude-project-rules.mdc
  .github/workflows/update-dockerfile-deps.yml
  CLAUDE.md
Due: sync-agents-md, sync-cursor-rules

refactor(ci): restructure GitHub Actions workflows for better orchestration
  .claude/settings.local.json
  .envrc
  .github/workflows/ci.yml
  .github/workflows/main-pipeline.yml
  .github/workflows/pull-request-pipeline.yml
  .github/workflows/security-scans-schedule.yml
  .github/workflows/security-scans.yml
Due: none

fix(ci): explicltly create uv environment before running tests
  .github/workflows/update-dockerfile-deps.yml
  Dockerfile
Due: none

feat(admin): add endpoint to delete downloads from manual feeds
  .claude/settings.local.json
  DESIGN_DOC.md
  README.md
  TASK_LIST.md
  src/anypod/data_coordinator/coordinator.py
  src/anypod/db/download_db.py
  src/anypod/server/routers/admin.py
  tests/anypod/server/routers/test_admin.py
  tests/integration/test_integration_manual_submission.py
  uv.lock
Due: ruff-format, ruff-lint, basedpyright

docs: reorganize documentation following AGENTS/CLAUDE best practices
  .cursor/rules/claude-project-rules.mdc
  CLAUDE.md
  README.md
  docs/configuration.md
  docs/database.md
  docs/development.md
Due: sync-agents-md, sync-cursor-rules

feat(db): add migration drift check and fix type consistency
  .pre-commit-config.yaml
  CLAUDE.md
  alembic/env.py
  docs/development.md
  scripts/check_migrations.sh
  src/anypod/db/types/download.py
Due: ruff-format, ruff-lint, basedpyright, sync-agents-md, sync-cursor-rules

feat(db): add migration drift check and fix type consistency
  .cursor/rules/claude-project-rules.mdc
  .pre-commit-config.yaml
  CLAUDE.md
  alembic/env.py
  alembic/versions/2025_06_25_423d964333d1_initial_schema_from_sqlmodels.py
  alembic/versions/2025_06_27_56d11f3bc82c_add_resolved_url_field_to_feed_table.py
  alembic/versions/2025_07_10_23cf24f50086_add_author_email_field_to_feed_table.py
  alembic/versions/2025_11_04_e95766c77882_add_download_logs_column.py
  docs/database.md
  scripts/check_migrations.sh
  src/anypod/db/types/download.py
Due: ruff-format, ruff-lint, basedpyright, sync-agents-md, sync-cursor-rules

refactor(rss): replace PodcastExplicit enum with boolean explicit field
  alembic/versions/2025_11_25_cd72a61e713d_change_explicit_to_boolean.py
  src/anypod/config/types/__init__.py
  src/anypod/config/types/feed_metadata_overrides.py
  src/anypod/config/types/podcast_explicit.py
  src/anypod/db/feed_db.py
  src/anypod/db/types/feed.py
  src/anypod/rss/feedgen_core.py
  src/anypod/rss/podcast_extension.py
  src/anypod/state_reconciler.py
  tests/anypod/db/test_feed_db.py
  tests/anypod/test_metadata.py
  tests/anypod/test_rss_feed.py
  tests/anypod/test_state_reconciler.py
  tests/conftest.py
  tests/integration/test_integration_state_reconciler.py
Due: ruff-format, ruff-lint, basedpyright

fix(docker): prevent interactive prompt in video conversion script
  alembic/versions/2025_11_25_cd72a61e713d_change_explicit_to_boolean.py
  docker/scripts/convert_video.sh
  src/anypod/metadata.py
  tests/anypod/test_metadata.py
Due: ruff-format, ruff-lint, basedpyright

fix(db): disable foreign keys at DBAPI level before transactions
  .pre-commit-config.yaml
  alembic/env.py
  alembic/versions/2025_10_26_ad59f082d627_allow_feed_source_url_null.py
  alembic/versions/2025_11_25_cd72a61e713d_change_explicit_to_boolean.py
  docs/development.md
  scripts/check_migrations.sh
Due: ruff-format, ruff-lint, basedpyright

fix(feedgen): import lxml.etree before feedgen to resolve bug in feedgen
  src/anypod/rss/__init__.py
Due: ruff-format, ruff-lint, basedpyright

chore(deps): upgrade pydantic to 2.12.5
  uv.lock
Due: none

feat(api): add manual feed refresh endpoint
  src/anypod/server/routers/admin.py
  tests/anypod/server/routers/test_admin.py
  tests/integration/test_integration_server_admin.py
Due: ruff-format, ruff-lint, basedpyright

feat(admin): add reset-sync endpoint to adjust feed last_successful_sync
  src/anypod/server/routers/admin.py
  tests/anypod/server/routers/test_admin.py
  tests/integration/test_integration_server_admin.py
Due: ruff-format, ruff-lint, basedpyright

feat(api): add metadata refresh endpoint and configurable download delay
  src/anypod/config/feed_config.py
  src/anypod/config/types/__init__.py
  src/anypod/config/types/download_delay.py
  src/anypod/data_coordinator/coordinator.py
  src/anypod/data_coordinator/downloader.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/server/routers/admin.py
  tests/anypod/config/__init__.py
  tests/anypod/config/types/__init__.py
  tests/anypod/config/types/test_download_delay.py
  tests/anypod/data_coordinator/test_downloader.py
  tests/anypod/server/routers/test_admin.py
Due: ruff-format, ruff-lint, basedpyright

fix(ci): harden Dockerfile deps updater
  .github/workflows/update-dockerfile-deps.yml
Due: none

fix(ci): allow Claude to push workflow edits
  .github/workflows/claude.yml
Due: none

fix(rss): handle case-insensitive language codes from yt-dlp
  src/anypod/state_reconciler.py
  src/anypod/ytdlp_wrapper/core/info.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/test_state_reconciler.py
Due: ruff-format, ruff-lint, basedpyright

chore(deps): upgrade dependencies
  uv.lock
Due: none

feat(api): add metadata refresh endpoint and configurable download delay
  .claude/settings.json
  DESIGN_DOC.md
  README.md
  docs/configuration.md
  docs/designs/09-thumbnail-refresh.md
  pyproject.toml
  src/anypod/cli/default.py
  src/anypod/config/feed_config.py
  src/anypod/data_coordinator/coordinator.py
  src/anypod/data_coordinator/downloader.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/metadata.py
  src/anypod/server/routers/admin.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/config/__init__.py
  tests/anypod/config/types/__init__.py
  tests/anypod/data_coordinator/test_downloader.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/server/routers/test_admin.py
  tests/anypod/test_metadata.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/config/test_config.py
  tests/integration/conftest.py
  tests/integration/test_integration_data_coordinator.py
  tests/integration/test_integration_scheduler.py
  uv.lock
Due: ruff-format, ruff-lint, basedpyright

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  basedpyright: any of: \.py$
  sync-agents-md: any of: CLAUDE\.md$
  sync-cursor-rules: any of: CLAUDE\.md$
