Repository thurstonsand/anypod: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, basedpyright, alembic-migration-check, sync-agents-md, sync-cursor-rules

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.7.2
    hooks:
      - id: uv-lock
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: ruff-lint
        name: ruff lint
        entry: uv run ruff check
        language: system
        types: [python]

      - id: basedpyright
        name: basedpyright type checking
        entry: uv run basedpyright
        language: system
        types: [python]

      - id: alembic-migration-check
        name: check for schema drift
        entry: bash scripts/check_migrations.sh
        language: system
        pass_filenames: false
        files: '^(src/anypod/db/types/.*\.py|alembic/versions/.*\.py)$'

      - id: sync-agents-md
        name: sync CLAUDE.md files to AGENTS.md
        entry: scripts/sync_agents_md.py
        language: script
        files: 'CLAUDE\.md$'
        pass_filenames: false

      - id: sync-cursor-rules
        name: sync CLAUDE.md files to Cursor rules
        entry: scripts/sync_cursor_rules.py
        language: script
        files: 'CLAUDE\.md$'
        pass_filenames: false

feat(api): add metadata refresh endpoint and configurable download delay
  .claude/settings.json
  DESIGN_DOC.md
  README.md
  docs/configuration.md
  docs/designs/09-thumbnail-refresh.md
  pyproject.toml
  src/anypod/cli/default.py
  src/anypod/config/feed_config.py
  src/anypod/data_coordinator/coordinator.py
  src/anypod/data_coordinator/downloader.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/metadata.py
  src/anypod/server/routers/admin.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/config/__init__.py
  tests/anypod/config/types/__init__.py
  tests/anypod/data_coordinator/test_downloader.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/server/routers/test_admin.py
  tests/anypod/test_metadata.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/config/test_config.py
  tests/integration/conftest.py
  tests/integration/test_integration_data_coordinator.py
  tests/integration/test_integration_scheduler.py
  uv.lock
Due: ruff-format, ruff-lint, basedpyright

test: add pytest subtests
  .claude/settings.json
  tests/anypod/db/test_download_db.py
  tests/anypod/db/test_sqlalchemy_core.py
  tests/integration/test_integration_data_coordinator.py
  tests/integration/test_integration_downloader.py
  tests/integration/test_integration_pruner.py
  tests/integration/test_integration_server_admin.py
  tests/integration/test_integration_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, basedpyright

fix(rss): use discovered_at for manual feed pubDate
  src/anypod/rss/feedgen_core.py
  tests/anypod/test_rss_feed.py
Due: ruff-format, ruff-lint, basedpyright

docs(api): document /refresh admin endpoint
  .cursor/rules/claude-project-rules.mdc
  CLAUDE.md
  DESIGN_DOC.md
  README.md
Due: sync-agents-md, sync-cursor-rules

chore: add PR command for amp agent
  .agents/commands/pr
Due: none

feat(api): add single-server mode for unified HTTP server
  README.md
  docs/configuration.md
  src/anypod/cli/default.py
  src/anypod/config/config.py
  src/anypod/server/app.py
  src/anypod/server/server.py
Due: ruff-format, ruff-lint, basedpyright

fix(ci): stabilize grype SARIF category across workflows
  .github/workflows/security-scans.yml
Due: none

refactor(config): simplify YAML settings source using pydantic-settings base
  src/anypod/config/config.py
  tests/config/test_config.py
Due: ruff-format, ruff-lint, basedpyright

fix(ai): disable claude code reviews
  .github/workflows/claude-code-review.yml
Due: none

refactor(api): consolidate refresh logic and add flexible downloader
  docs/designs/10-refresh-consolidation-and-flexible-downloader.md
  src/anypod/data_coordinator/coordinator.py
  src/anypod/data_coordinator/downloader.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/data_coordinator/types/__init__.py
  src/anypod/data_coordinator/types/download_artifact.py
  src/anypod/metadata.py
  src/anypod/server/routers/admin.py
  tests/anypod/data_coordinator/test_downloader.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/server/routers/test_admin.py
  tests/anypod/test_metadata.py
  tests/integration/test_integration_data_coordinator.py
  tests/integration/test_integration_server_admin.py
Due: ruff-format, ruff-lint, basedpyright

chore: update uv deps
  uv.lock
Due: none

feat(api): add media clip streaming with start/end parameters
  LEARNINGS.md
  src/anypod/clip_streamer.py
  src/anypod/server/routers/static.py
  tests/anypod/test_clip_streamer.py
Due: ruff-format, ruff-lint, basedpyright

chore(deps): add youtube-transcript-api library
  docs/designs/youtube-transcript-api-integration.md
  pyproject.toml
  uv.lock
Due: none

feat(ytdlp): add YouTubeTranscriptError exception
  src/anypod/exceptions.py
Due: ruff-format, ruff-lint, basedpyright

feat(ytdlp): implement download_transcript in all handlers
  src/anypod/ytdlp_wrapper/handlers/patreon_handler.py
  src/anypod/ytdlp_wrapper/handlers/twitter_handler.py
  src/anypod/ytdlp_wrapper/handlers/youtube_handler.py
Due: ruff-format, ruff-lint, basedpyright

refactor(ytdlp): delegate download_transcript_only to handlers
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
Due: ruff-format, ruff-lint, basedpyright

feat(ytdlp): add download_transcript method to handler protocol
  src/anypod/ytdlp_wrapper/handlers/base_handler.py
Due: ruff-format, ruff-lint, basedpyright

feat(ytdlp): add YouTube transcript wrapper module
  src/anypod/ytdlp_wrapper/youtube_transcript.py
  tests/integration/test_integration_youtube_transcript.py
Due: ruff-format, ruff-lint, basedpyright

chore(scripts): add transcript re-download utility script
  scripts/redownload_transcripts.py
Due: ruff-format, ruff-lint, basedpyright

chore(env): simplify direnv configuration
  .envrc
Due: none

chore(deps): add youtube-transcript-api library
  docs/designs/11-youtube-transcript-api-integration.md
  pyproject.toml
  uv.lock
Due: none

feat(ytdlp): add download_transcript method to handlers
  src/anypod/ytdlp_wrapper/handlers/base_handler.py
  src/anypod/ytdlp_wrapper/handlers/patreon_handler.py
  src/anypod/ytdlp_wrapper/handlers/twitter_handler.py
  src/anypod/ytdlp_wrapper/handlers/youtube_handler.py
Due: ruff-format, ruff-lint, basedpyright

refactor(ytdlp): delegate download_transcript_only to handlers
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/integration/test_integration_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, basedpyright

fix(ci): cache grype db between runs
  .github/workflows/security-scans.yml
Due: none

feat(reconciler): add info-level progress logs during startup
  src/anypod/state_reconciler.py
Due: ruff-format, ruff-lint, basedpyright
