Repository thurstonsand/anypod: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, pyright, sync-agents-md

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.7.2
    hooks:
      - id: uv-lock
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: ruff-lint
        name: ruff lint
        entry: uv run ruff check
        language: system
        types: [python]

      - id: pyright
        name: pyright type checking
        entry: uv run pyright
        language: system
        types: [python]

      - id: sync-agents-md
        name: sync CLAUDE.md files to AGENTS.md
        entry: scripts/sync_agents_md.py
        language: script
        files: '^(CLAUDE\.md|tests/CLAUDE\.md)$'
        pass_filenames: false

feat: Add FFmpeg and FFprobe wrappers for media processing
  .claude/commands/prd.md
  .cursor/rules/claude-project-rules.mdc
  CLAUDE.md
  DESIGN_DOC.md
  README.md
  docs/designs/05-patreon-handler.md
  src/anypod/cli/debug_enqueuer.py
  src/anypod/cli/default.py
  src/anypod/exceptions.py
  src/anypod/ffmpeg.py
  src/anypod/ffprobe.py
  src/anypod/image_downloader.py
  tests/anypod/test_ffmpeg.py
  tests/anypod/test_ffprobe.py
  tests/anypod/test_image_downloader.py
  tests/integration/conftest.py
  tests/integration/test_integration_ff.py
  tests/integration/test_integration_image_downloader.py
  tests/integration/test_integration_state_reconciler.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: Add referer and match-filter support to yt-dlp args
  src/anypod/ytdlp_wrapper/core/args.py
Due: ruff-format, ruff-lint, pyright

feat: Add Patreon source handler with video filtering
  .claude/commands/pr.md
  .cursor/rules/claude-project-rules.mdc
  .vscode/settings.json
  CLAUDE.md
  README.md
  TASK_LIST.md
  docs/designs/05-patreon-handler.md
  pyproject.toml
  src/anypod/cli/debug_downloader.py
  src/anypod/cli/debug_enqueuer.py
  src/anypod/cli/debug_ytdlp.py
  src/anypod/cli/default.py
  src/anypod/config/config.py
  src/anypod/exceptions.py
  src/anypod/ytdlp_wrapper/base_handler.py
  src/anypod/ytdlp_wrapper/patreon_handler.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/ytdlp_wrapper/test_patreon_handler.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/integration/conftest.py
  uv.lock
Due: ruff-format, ruff-lint, pyright, sync-agents-md

refactor: improve yt-dlp error handling and handler organization
  .cursor/rules/claude-project-rules.mdc
  CLAUDE.md
  README.md
  scripts/run_dev.sh
  src/anypod/cli/debug_downloader.py
  src/anypod/cli/debug_enqueuer.py
  src/anypod/cli/debug_ytdlp.py
  src/anypod/cli/default.py
  src/anypod/ytdlp_wrapper/core/core.py
  src/anypod/ytdlp_wrapper/handlers/__init__.py
  src/anypod/ytdlp_wrapper/handlers/base_handler.py
  src/anypod/ytdlp_wrapper/handlers/handler_selector.py
  src/anypod/ytdlp_wrapper/handlers/patreon_handler.py
  src/anypod/ytdlp_wrapper/handlers/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/ytdlp_wrapper/test_patreon_handler.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/integration/conftest.py
  tests/integration/test_integration_enqueuer.py
  tests/integration/test_integration_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

chore: update Dockerfile deps and reformat docs
  DESIGN_DOC.md
  Dockerfile
  README.md
  TASK_LIST.md
Due: none

establish plan
  TASK_LIST.md
  docs/designs/06-manual-submission-feed.md
Due: none

fix: handle Patreon multi-attachment downloads
  alembic/versions/2025_10_07_e8752d424e88_add_playlist_index_to_download_table.py
  docs/debug/patreon_filtering_analysis.md
  src/anypod/db/types/download.py
  src/anypod/ytdlp_wrapper/core/args.py
  src/anypod/ytdlp_wrapper/handlers/base_handler.py
  src/anypod/ytdlp_wrapper/handlers/patreon_handler.py
  src/anypod/ytdlp_wrapper/handlers/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/ytdlp_wrapper/test_patreon_handler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright

fix: handle Patreon multi-attachment downloads
  .github/workflows/claude-issue-triage.yml
  alembic/versions/2025_10_07_e8752d424e88_add_playlist_index_to_download_table.py
  docs/debug/patreon_filtering_analysis.md
  src/anypod/db/types/download.py
  src/anypod/ytdlp_wrapper/core/args.py
  src/anypod/ytdlp_wrapper/handlers/base_handler.py
  src/anypod/ytdlp_wrapper/handlers/patreon_handler.py
  src/anypod/ytdlp_wrapper/handlers/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/ytdlp_wrapper/test_patreon_handler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright

Upgrade python-json-logger and fix formatter override
  pyproject.toml
  src/anypod/logging_config.py
  uv.lock
Due: ruff-format, ruff-lint, pyright

Upgrade python-json-logger to 4.0.0 (#56)
  pyproject.toml
  src/anypod/logging_config.py
  uv.lock
Due: ruff-format, ruff-lint, pyright

chore: bump uv deps
  uv.lock
Due: none

build: switch type checking to basedpyright
  .cursor/rules/claude-project-rules.mdc
  .cursor/rules/claude-tests-rules.mdc
  .github/workflows/claude-code-review.yml
  .opencode/command
  .pre-commit-config.yaml
  CLAUDE.md
  DESIGN_DOC.md
  README.md
  pyproject.toml
  src/anypod/db/app_state_db.py
  src/anypod/db/download_db.py
  src/anypod/db/sqlalchemy_core.py
  src/anypod/db/types/app_state.py
  src/anypod/db/types/download.py
  src/anypod/db/types/feed.py
  tests/CLAUDE.md
  uv.lock
Due: ruff-format, ruff-lint, pyright, sync-agents-md

fix(docker): move yt-dlp to dedicated writable directory
  Dockerfile
  docker/scripts/docker-entrypoint.sh
Due: none

remove trivy artifacts
  .trivyignore
  trivy.yaml
Due: none

chore: update dependencies fastapi 0.120.1, basedpyright 1.32.1, ruff 0.14.2, python-dotenv 1.2.1
  alembic/versions/2025_08_25_329f6c9ad1b2_add_thumbnail_hosting_fields_and_renames.py
  alembic/versions/2025_10_26_ad59f082d627_allow_feed_source_url_null.py
  alembic_helpers/triggers.py
  uv.lock
Due: ruff-format, ruff-lint, pyright

fix(alembic): wrap batch_alter_table with foreign key constraint toggling
  alembic/versions/2025_10_26_ad59f082d627_allow_feed_source_url_null.py
Due: ruff-format, ruff-lint, pyright

docs(dev): streamline gc command and add RSS validation guide
  .claude/commands/gc.md
  .cursor/rules/claude-project-rules.mdc
  CLAUDE.md
  TASK_LIST.md
Due: sync-agents-md

feat(ytdlp): add Twitter handler for X.com video feeds
  .cursor/rules/claude-project-rules.mdc
  CLAUDE.md
  README.md
  docs/designs/07-x-handler.md
  src/anypod/ytdlp_wrapper/handlers/__init__.py
  src/anypod/ytdlp_wrapper/handlers/handler_selector.py
  src/anypod/ytdlp_wrapper/handlers/twitter_handler.py
  tests/anypod/ytdlp_wrapper/test_twitter_handler.py
  tests/integration/test_integration_data_coordinator.py
  tests/integration/test_integration_downloader.py
  tests/integration/test_integration_enqueuer.py
  tests/integration/test_integration_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat(ytdlp): capture and store download execution logs
  DESIGN_DOC.md
  README.md
  alembic/versions/2025_11_04_e95766c77882_add_download_logs_column.py
  src/anypod/cli/debug_ytdlp.py
  src/anypod/data_coordinator/downloader.py
  src/anypod/db/download_db.py
  src/anypod/db/types/download.py
  src/anypod/exceptions.py
  src/anypod/server/app.py
  src/anypod/server/routers/admin.py
  src/anypod/ytdlp_wrapper/core/args.py
  src/anypod/ytdlp_wrapper/core/core.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/data_coordinator/test_downloader.py
  tests/anypod/db/test_download_db.py
  tests/anypod/server/routers/test_admin.py
  tests/anypod/ytdlp_wrapper/test_patreon_handler.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/integration/test_integration_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright

feat(manual-submission): enhance URL handling and status flexibility
  .claude/settings.local.json
  src/anypod/manual_submission_service.py
  tests/anypod/test_manual_submission_service.py
Due: ruff-format, ruff-lint, pyright

fix(docker): change deno install to pull from official docker image, not curl
  Dockerfile
Due: none

feat(db): add migration drift check and fix type consistency
  .pre-commit-config.yaml
  CLAUDE.md
  alembic/env.py
  scripts/check_migrations.sh
  src/anypod/db/types/download.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

Improve yt-dlp logging diagnostics
  src/anypod/ytdlp_wrapper/core/core.py
  src/anypod/ytdlp_wrapper/handlers/patreon_handler.py
  src/anypod/ytdlp_wrapper/handlers/twitter_handler.py
  src/anypod/ytdlp_wrapper/handlers/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright

feat(media): add duration probing and integrity validation
  .claude/commands/gc.md
  .gemini/settings.json
  .opencode/command
  TASK_LIST.md
  src/anypod/cli/debug_downloader.py
  src/anypod/cli/default.py
  src/anypod/data_coordinator/downloader.py
  src/anypod/db/download_db.py
  src/anypod/ytdlp_wrapper/core/__init__.py
  src/anypod/ytdlp_wrapper/handlers/patreon_handler.py
  src/anypod/ytdlp_wrapper/handlers/twitter_handler.py
  tests/anypod/data_coordinator/test_downloader.py
  tests/anypod/db/test_download_db.py
  tests/anypod/ytdlp_wrapper/test_patreon_handler.py
  tests/anypod/ytdlp_wrapper/test_twitter_handler.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/integration/conftest.py
  tests/integration/test_integration_downloader.py
  tests/integration/test_integration_ff.py
Due: ruff-format, ruff-lint, pyright

fix(patreon): replace invalid match filter syntax
  src/anypod/ytdlp_wrapper/handlers/patreon_handler.py
Due: ruff-format, ruff-lint, pyright

fix(ytdlp): quarantine corrupt downloads via ffprobe
  DESIGN_DOC.md
  README.md
  src/anypod/cli/debug_downloader.py
  src/anypod/cli/debug_enqueuer.py
  src/anypod/cli/debug_ytdlp.py
  src/anypod/cli/default.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/integration/conftest.py
  tests/integration/test_integration_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright

feat(meta): github template issues
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
Due: none
