Repository thurstonsand/anypod: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, pyright, sync-agents-md

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.7.2
    hooks:
      - id: uv-lock
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: ruff-lint
        name: ruff lint
        entry: uv run ruff check
        language: system
        types: [python]

      - id: pyright
        name: pyright type checking
        entry: uv run pyright
        language: system
        types: [python]

      - id: sync-agents-md
        name: sync CLAUDE.md files to AGENTS.md
        entry: scripts/sync_agents_md.py
        language: script
        files: '^(CLAUDE\.md|tests/CLAUDE\.md)$'
        pass_filenames: false

docs: replace development README with comprehensive user documentation
  README.md
  README_pre.md
  TASK_LIST.md
  docs/designs/store-thumbnails.md
  src/anypod/config/types/feed_metadata_overrides.py
Due: ruff-format, ruff-lint, pyright

feat: enhance yt-dlp integration with better thumbnails and version control
  .cursor/commands/gc.md
  .cursor/rules/claude-project-rules.mdc
  CLAUDE.md
  DESIGN_DOC.md
  Dockerfile
  README.md
  TASK_LIST.md
  pyproject.toml
  src/anypod/cli/debug_ytdlp.py
  src/anypod/config/feed_config.py
  src/anypod/data_coordinator/downloader.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/state_reconciler.py
  src/anypod/ytdlp_wrapper/core/args.py
  src/anypod/ytdlp_wrapper/core/core.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/data_coordinator/test_downloader.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/integration/test_integration_ytdlp_wrapper.py
  uv.lock
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat(downloader,db): persist thumbnail_ext after successful download
  src/anypod/data_coordinator/downloader.py
  src/anypod/db/download_db.py
  tests/anypod/db/test_download_db.py
  tests/integration/test_integration_downloader.py
Due: ruff-format, ruff-lint, pyright

feat(db): add thumbnail hosting fields and field renames
  alembic/versions/2025_08_25_329f6c9ad1b2_add_thumbnail_hosting_fields_and_renames.py
  src/anypod/config/types/feed_metadata_overrides.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/db/feed_db.py
  src/anypod/db/types/download.py
  src/anypod/db/types/feed.py
  src/anypod/metadata.py
  src/anypod/rss/feedgen_core.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  tests/anypod/data_coordinator/test_downloader.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/db/test_download_db.py
  tests/anypod/db/test_feed_db.py
  tests/anypod/test_metadata.py
  tests/anypod/test_rss_feed.py
  tests/anypod/test_state_reconciler.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
  tests/integration/test_integration_state_reconciler.py
  tests/integration/test_integration_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright

feat: implement thumbnail downloading for feeds and downloads
  .claude/commands/gc.md
  .cursor/rules/claude-project-rules.mdc
  CLAUDE.md
  DESIGN_DOC.md
  README.md
  pyproject.toml
  src/anypod/path_manager.py
  src/anypod/ytdlp_wrapper/core/args.py
  src/anypod/ytdlp_wrapper/core/core.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/test_path_manager.py
  tests/anypod/test_state_reconciler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/integration/test_integration_ytdlp_wrapper.py
  uv.lock
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: add PathManager image URLs/paths and FileManager image ops
  src/anypod/file_manager.py
  src/anypod/path_manager.py
  tests/anypod/test_file_manager.py
  tests/anypod/test_path_manager.py
Due: ruff-format, ruff-lint, pyright

refactor: consolidate tool configs in pyproject.toml
  .cursor/commands/gc.md
  .cursor/rules/claude-project-rules.mdc
  .ruff.toml
  CLAUDE.md
  pyproject.toml
  pyrightconfig.json
Due: sync-agents-md

feat: add HTTP image serving endpoints
  .claude/settings.local.json
  src/anypod/server/routers/static.py
  tests/anypod/server/routers/test_static.py
Due: ruff-format, ruff-lint, pyright

bugfix: add permissions, run tests to ensure no regressions
  .github/workflows/update-ytdlp-commit.yml
Due: none

include yt-dlp version in git commit of auto-update yt-dlp github workflow
  .github/workflows/update-ytdlp-commit.yml
  uv.lock
Due: none

fix: replace aac_at with native aac encoder for cross-platform compatibility
  docker/scripts/convert_video.sh
Due: none

fix thumbnail downloads by only downloading playlist level, not individual video level
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright

feat: add POT provider configuration for YouTube PO tokens
  .cursor/rules/claude-project-rules.mdc
  CLAUDE.md
  README.md
  docs/designs/pot-provider-integration.md
  src/anypod/config/config.py
  tests/config/test_config.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: add Docker config for bgutil POT provider
  .cursor/rules/claude-project-rules.mdc
  CLAUDE.md
  Dockerfile
  README.md
  docker-compose.yaml
  docs/designs/pot-provider-integration.md
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: support POT provider with global yt-dlp management and env var settings
  .claude/settings.local.json
  .cursor/rules/claude-project-rules.mdc
  .cursorignore
  .gitignore
  CLAUDE.md
  DESIGN_DOC.md
  README.md
  TASK_LIST.md
  alembic/versions/2025_08_31_d6b27488612a_create_app_state_table_for_global_.py
  src/anypod/cli/debug_downloader.py
  src/anypod/cli/debug_enqueuer.py
  src/anypod/cli/debug_ytdlp.py
  src/anypod/cli/default.py
  src/anypod/config/config.py
  src/anypod/config/feed_config.py
  src/anypod/data_coordinator/downloader.py
  src/anypod/data_coordinator/enqueuer.py
  src/anypod/db/__init__.py
  src/anypod/db/app_state_db.py
  src/anypod/db/types/__init__.py
  src/anypod/db/types/app_state.py
  src/anypod/image_downloader.py
  src/anypod/state_reconciler.py
  src/anypod/ytdlp_wrapper/core/args.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/data_coordinator/test_downloader.py
  tests/anypod/data_coordinator/test_enqueuer.py
  tests/anypod/test_image_downloader.py
  tests/anypod/test_state_reconciler.py
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/integration/conftest.py
  tests/integration/test_integration_ytdlp_wrapper.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: complete POT provider implementation in Anypod
  .cursor/rules/claude-tests-rules.mdc
  docs/designs/pot-provider-integration.md
  src/anypod/cli/debug_downloader.py
  src/anypod/cli/debug_enqueuer.py
  src/anypod/cli/debug_ytdlp.py
  src/anypod/cli/default.py
  src/anypod/ytdlp_wrapper/core/args.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/CLAUDE.md
  tests/anypod/ytdlp_wrapper/test_ytdlp_wrapper.py
  tests/integration/conftest.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

refactor: ensure YouTube handler uses centralized POT and update settings
  alembic/versions/2025_08_31_d6b27488612a_create_app_state_table_for_global_.py
  src/anypod/ytdlp_wrapper/base_handler.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
Due: ruff-format, ruff-lint, pyright

Add SLOC utility script for repository code metrics
  scripts/sloc.py
Due: ruff-format, ruff-lint, pyright

feat: add automated bgutil POT provider version updates
  .github/workflows/update-bgutil-provider.yml
  Dockerfile
Due: none

chore: update Dockerfile to grant write permissions for yt-dlp binary
  Dockerfile
Due: none

fix permissions on GHA claude code
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

feat: enhance DownloadDatabase.requeue_downloads for bulk operations
  TASK_LIST.md
  docs/designs/reset-errors.md
  src/anypod/db/download_db.py
  tests/anypod/db/test_download_db.py
Due: ruff-format, ruff-lint, pyright

feat: add admin endpoint for resetting ERROR downloads
  .cursor/rules/claude-project-rules.mdc
  CLAUDE.md
  DESIGN_DOC.md
  README.md
  src/anypod/server/routers/admin.py
  tests/anypod/server/routers/test_admin.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: implement separate admin server for admin endpoints
  .claude/commands/pr.md
  .cursor/rules/claude-project-rules.mdc
  CLAUDE.md
  DESIGN_DOC.md
  Dockerfile
  README.md
  docker-compose.yaml
  docs/designs/reset-errors.md
  src/anypod/cli/default.py
  src/anypod/config/config.py
  src/anypod/server/__init__.py
  src/anypod/server/app.py
  src/anypod/server/server.py
  tests/integration/conftest.py
  tests/integration/test_integration_server_admin.py
  tests/integration/test_integration_server_public.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: Add admin server with reset-errors endpoint (#41)
  .claude/commands/pr.md
  .cursor/rules/claude-project-rules.mdc
  CLAUDE.md
  DESIGN_DOC.md
  Dockerfile
  README.md
  TASK_LIST.md
  docker-compose.yaml
  docs/designs/reset-errors.md
  src/anypod/cli/default.py
  src/anypod/config/config.py
  src/anypod/db/download_db.py
  src/anypod/server/__init__.py
  src/anypod/server/app.py
  src/anypod/server/routers/admin.py
  src/anypod/server/server.py
  tests/anypod/db/test_download_db.py
  tests/anypod/server/routers/test_admin.py
  tests/integration/conftest.py
  tests/integration/test_integration_server_admin.py
  tests/integration/test_integration_server_public.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: Make podcast metadata enum settings case-insensitive
  TASK_LIST.md
  src/anypod/config/types/podcast_explicit.py
  src/anypod/config/types/podcast_type.py
Due: ruff-format, ruff-lint, pyright

feat: Persist RSS XML to disk instead of in-memory caching
  DESIGN_DOC.md
  README.md
  TASK_LIST.md
  docs/designs/01-store-thumbnails.md
  docs/designs/02-pot-provider-integration.md
  docs/designs/03-reset-errors.md
  docs/designs/04-persist-rss-xml.md
  pyproject.toml
  src/anypod/cli/default.py
  src/anypod/file_manager.py
  src/anypod/path_manager.py
  src/anypod/rss/rss_feed.py
  src/anypod/server/app.py
  src/anypod/server/dependencies.py
  src/anypod/server/routers/static.py
  src/anypod/server/server.py
  tests/anypod/server/routers/test_static.py
  tests/anypod/server/test_app.py
  tests/anypod/test_rss_feed.py
  tests/integration/conftest.py
  tests/integration/test_integration_data_coordinator.py
  tests/integration/test_integration_server_public.py
Due: ruff-format, ruff-lint, pyright

fix: Replace aiofiles.os.rename with replace and add feed XML cleanup
  docs/designs/04-persist-rss-xml.md
  src/anypod/data_coordinator/pruner.py
  src/anypod/file_manager.py
  src/anypod/image_downloader.py
  src/anypod/rss/rss_feed.py
  tests/anypod/data_coordinator/test_pruner.py
  tests/anypod/test_rss_feed.py
  tests/integration/test_integration_pruner.py
Due: ruff-format, ruff-lint, pyright

feat: Persist RSS XML to disk for improved reliability and performance (#48)
  DESIGN_DOC.md
  README.md
  TASK_LIST.md
  docs/designs/01-store-thumbnails.md
  docs/designs/02-pot-provider-integration.md
  docs/designs/03-reset-errors.md
  docs/designs/04-persist-rss-xml.md
  pyproject.toml
  src/anypod/cli/default.py
  src/anypod/config/types/podcast_explicit.py
  src/anypod/config/types/podcast_type.py
  src/anypod/data_coordinator/pruner.py
  src/anypod/file_manager.py
  src/anypod/image_downloader.py
  src/anypod/path_manager.py
  src/anypod/rss/rss_feed.py
  src/anypod/server/app.py
  src/anypod/server/dependencies.py
  src/anypod/server/routers/static.py
  src/anypod/server/server.py
  tests/anypod/data_coordinator/test_pruner.py
  tests/anypod/server/routers/test_static.py
  tests/anypod/server/test_app.py
  tests/anypod/test_rss_feed.py
  tests/integration/conftest.py
  tests/integration/test_integration_data_coordinator.py
  tests/integration/test_integration_pruner.py
  tests/integration/test_integration_server_public.py
Due: ruff-format, ruff-lint, pyright

chore: bump python deps
  uv.lock
Due: none

feat: Add FFmpeg and FFprobe wrappers for media processing
  .claude/commands/prd.md
  .cursor/rules/claude-project-rules.mdc
  CLAUDE.md
  DESIGN_DOC.md
  README.md
  docs/designs/05-patreon-handler.md
  src/anypod/cli/debug_enqueuer.py
  src/anypod/cli/default.py
  src/anypod/exceptions.py
  src/anypod/ffmpeg.py
  src/anypod/ffprobe.py
  src/anypod/image_downloader.py
  tests/anypod/test_ffmpeg.py
  tests/anypod/test_ffprobe.py
  tests/anypod/test_image_downloader.py
  tests/integration/conftest.py
  tests/integration/test_integration_ff.py
  tests/integration/test_integration_image_downloader.py
  tests/integration/test_integration_state_reconciler.py
Due: ruff-format, ruff-lint, pyright, sync-agents-md

feat: Add referer and match-filter support to yt-dlp args
  src/anypod/ytdlp_wrapper/core/args.py
Due: ruff-format, ruff-lint, pyright

tmp
  .vscode/settings.json
  README.md
  docs/designs/05-patreon-handler.md
  src/anypod/ytdlp_wrapper/base_handler.py
  src/anypod/ytdlp_wrapper/patreon_handler.py
  src/anypod/ytdlp_wrapper/youtube_handler.py
  src/anypod/ytdlp_wrapper/ytdlp_wrapper.py
  tests/anypod/ytdlp_wrapper/test_patreon_handler.py
  tests/anypod/ytdlp_wrapper/test_youtube_handler.py
Due: ruff-format, ruff-lint, pyright

ci: migrate security scanning to dedicated workflow with CodeQL and Grype
  .claude/commands/gc.md
  .github/workflows/docker-pr-test.yml
  .github/workflows/docker-publish.yml
  .github/workflows/security-scans.yml
  .github/workflows/update-bgutil-provider.yml
  .github/workflows/update-ytdlp-commit.yml
Due: none

- bump deps - removed newly deprecated yaml file encoding config option
  src/anypod/config/config.py
  uv.lock
Due: ruff-format, ruff-lint, pyright

ci: expand dependency update workflow to refresh package cache weekly
  .github/workflows/update-dockerfile-deps.yml
  Dockerfile
Due: none

ci: skip Claude Code review for bot-initiated PRs
  .github/workflows/claude-code-review.yml
  uv.lock
Due: none
